[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target.'cfg(target_os = "none")']
runner = "bootimage runner"

[build]
target = "src/arch/x86_64/x86_64-unknown-none.json"
rustflags = ["-Clink-args=-znostart-stop-gc"]
rustdocflags = ["-Clink-args=-znostart-stop-gc"]

[env]
