/cmake-build-debug/
/bin/
!.gitkeep
DragonOS.iso
.idea/
/tmp/
kernel/kernel
.DS_Store

*.o
*.a
*.s
out
serial_opt.txt
docs/_build
draft
cppcheck.xml
/target/
.cache
compile_commands.json
/logs/
*.log
