[package]
name = "dragonos_kernel"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["staticlib"]

# 运行时依赖项
[dependencies]
x86_64 = "0.14.10"
bitflags = "1.3.2"
virtio-drivers = "0.2.0"
# 一个无锁MPSC队列
thingbuf = { version = "0.1.3", default-features = false, features = ["alloc"] }

# 构建时依赖项
[build-dependencies]
bindgen = "0.61.0"

[dependencies.lazy_static]
version = "1.4.0"
# 由于在no_std环境，而lazy_static依赖了spin库，因此需要指定其使用no_std
features = ["spin_no_std"]



