[Unit]
Description=Shell

[Service]
Type=simple
ExecStart=/bin/busybox sh
Restart=always
ExecStartPre=-/bin/about.elf
Environment=PATH=/bin:/usr/bin:/usr/local/bin