name: Dunitest x86_64

on:
  workflow_dispatch:
  push:
    branches: ["master", "feat-*", "fix-*"]
  pull_request:
    branches: ["master", "feat-*", "fix-*"]

env:
  ARCH: x86_64
  HOME: /root
  RUSTUP_DIST_SERVER: "https://rsproxy.cn"
  RUSTUP_UPDATE_ROOT: "https://rsproxy.cn/rustup"

jobs:
  dunitest:
    name: Dunitest
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: dragonos/dragonos-dev:v1.23
      options: --privileged -v /dev:/dev
    steps:
      - name: Checkout DragonOS code
        uses: actions/checkout@v4

      - name: Change source
        run: |
          find . -type f \( -name "*.toml" -o -name "Makefile" \) -exec sed -i 's/git\.mirrors\.dragonos\.org\.cn/github\.com/g' {} +

      - name: Build DragonOS
        shell: bash -ileo pipefail {0}
        run: |
          make clean
          make -j$(nproc) all

      - name: Run dunitest
        shell: bash -ileo pipefail {0}
        env:
          DISK_SAVE_MODE: "1"
        run: |
          make test-dunit
