name: Build Check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  # ensure the toolchain is cached
  ensure-toolchain:
    uses: ./.github/workflows/cache-toolchain.yml
  
  build:

    runs-on: ubuntu-latest
    needs: [ensure-toolchain]

    steps:
    - uses: actions/checkout@v3

    - name: Cache DragonOS GCC
      id: cache-dragonos-gcc
      uses: actions/cache@v3
      env:
          cache-name: cache-dragonos-gcc
      with:
        path: |
          ~/opt
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('tools/build_gcc_toolchain.sh') }}
    
    - name: Cache build tools
      id: cache-build-tools
      uses: actions/cache@v3
      env:
          cache-name: cache-build-tools
          dadk_version: 0.1.2
      with:
        path: |
          ~/.cargo
          ~/.rustup
          ~/.bashrc
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ env.dadk_version }}-${{ hashFiles('.github/workflows/cache-toolchain.yml') }}
      
    - name: Format check
      run: |
            printf "\n" >> kernel/src/include/bindings/bindings.rs
            printf "\n" >> user/libs/libc/src/include/internal/bindings/bindings.rs
            FMT_CHECK=1 make fmt
      
    - name: build the DragonOS
      run: bash -c "source ~/.cargo/env && export DragonOS_GCC=$HOME/opt/dragonos-gcc/gcc-x86_64-unknown-none/bin && make -j $(nproc) "
    
    - name: Run kernel static test
      run: bash -c "source ~/.cargo/env && cd kernel && make test"
